/** General Stuff **/
html {
  font-size: 75%;
}
@media screen and (min-width: 768px){
html {
  font-size: 100%;
}}

body {
  margin: 0;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  margin: 0;
  padding: 0.2rem;
}

/** Map Container **/
.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


/** Cyclist components **/
.cyclist-container {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: grid;
  grid-row-gap: 0rem;
  grid-template-columns: 20rem;
  grid-template-rows: 20rem 6rem 20rem;
  z-index: 1;
  color: #ffffff;

}

.cyclist-profile {
  background-color: rgb(62, 68, 74);
  margin: 0.8rem 1rem;
  text-align: center;
}

  .cyclist-picture {
    border-radius: 100%;
    overflow: hidden;
    margin: 1rem auto;     
    border: 0.3rem solid #50597b;
    width: 8.5rem;
    height: 8.5rem;
    box-sizing: content-box;
  }
    .cyclist-picture img {
      width: 100%;
    }

  .cyclist-name {
    margin-bottom: 0;
  }

  .cyclist-search {
    margin-top: 0.2rem;
  }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
      display: none; 
    }
    
    input[type=search] {
      outline: none;
      box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
      background: #dadada url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 3.2rem;
      border-radius: 10em;
      transition: all .5s;
    }
    input[type=search]:focus {
      width: 8rem;
      background-color: #fff;
      border-color: #66CC75;
      box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

.cyclist-summary {
  background-color: rgb(62, 68, 74);
  margin: 0.8rem 1rem;
  text-align: center;
  display: flex;
}
  .key-wins {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
    .key-wins li {
      display: flex;
      flex: 1;
    }
    .flex-wins + .flex-wins {
      border-left: 1px solid #1f253d; 
    }
      .key-wins p {
        margin: auto;
      }
      .key-wins a { 
        display: flex; 
        flex: 1;
        align-items: center;
        justify-content: center;
        transition: background .3s;
        color: #fff;                     
      }
      .key-wins .icon {
        font-size: 1.2rem;
      }
        .key-wins a:hover {
          text-decoration: none;
          background: #50597b;
          color: #fff; 
        }
        .key-wins a:hover.stage-wins .icon {
          color: #fcb150;
        }
        .key-wins a:hover.classique-wins .icon {
          color: #11a8ab;
        }
        .key-wins a:hover.total-wins .icon {
          color: #e64c65;
        }
        .key-wins .icon {
          padding-right: 10px;
        }
        .key-wins .stage-wins {
          border-top: 0.5rem solid #fcb150;
        }
        .key-wins .classique-wins {
          border-top: 0.5rem solid #11a8ab;
        }
        .key-wins .total-wins {
          border-top: 0.5rem solid #e64c65;
          }

.cyclist-wins {
  background-color: rgb(62, 68, 74);
  margin: 0.8rem 1rem;
  padding: 0.2rem;
  width: auto;
}
  .cyclist-wins .table-sm {
    font-size: 0.92rem;
  }

  .cyclist-wins tr{
    transform: rotate(0);
  }
  
  .cyclist-wins a {
    color: #fff; 
  }
  .cyclist-wins a:hover {
    text-decoration: none;
    color: #fff; 
  }


/** Race components **/
.race-grid {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  z-index: 1;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr 2fr;
  grid-template-areas: 
    "race-head race-head"
    ". ."
    "race-winners race-history"
    "race-chart race-chart";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /*min-width: 0;
  min-height: 0;
  max-height: 100vh;*/
}
@media screen and (min-width: 768px){
.race-grid {
  top: 2rem;
  bottom: 2rem;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 3fr 2fr 2fr;
  grid-template-areas: 
    ". race-head"
    ". race-winners"
    ". race-history"
    "race-chart race-history";
}}

.race-head {
  background-color: rgb(62, 68, 74);
  text-align: center;
  grid-area: race-head;
  min-width: 10rem;

  min-height: 4rem;
  overflow: scroll;
  /*margin: auto;*/ 
  display: flex;
  flex: 1;  
  flex-direction: column;
}

@media screen and (min-width: 768px){
.race-head {
  min-width: 20rem;
  max-width: 24rem;
  min-height: 4rem;
  margin: auto;
}}
  .race-selector {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
  }
    .race-selector li {
      display: flex;
      flex: 1;   
    }
    .flex-races + .flex-races {
      border-left: 1px solid #1f253d; 
    }
    .race-selector a,h3 { 
        display: flex; 
        align-items: center;
        justify-content: center;
        transition: background .3s;
        color: #fff;                     
    }
    .race-selector a:hover {
      text-decoration: none;
      background: #50597b;
      color: #fff; 
    }
    .race-selector :nth-child(2){
      flex: 7;
    }
    .race-selector :nth-child(odd) {
      flex: 1.5;
    }

.race-winners {
  background-color: rgb(62, 68, 74);
  /*margin: 1rem auto;*/
  /*margin: 0rem auto;*/
  padding: 0.2rem;
  grid-area: race-winners;
  min-width: 7rem;
  min-height: 0;
  /*max-width: 14rem;*/
  overflow: scroll;

}

@media screen and (min-width: 768px){
.race-winners {
  margin: 0rem auto;
  min-width: 17rem;
  min-height: 0;
  max-width: 18rem;
}}
  .race-winners .table-sm {
    font-size: 0.8rem;
  }
  @media screen and (min-width: 768px){
  .race-winners .table-sm {
    font-size: 0.8rem;
  }}
  .race-winners tr{
    transform: rotate(0);
  }
  
  .race-winners a {
    color: #fff; 
  }
  .race-winners a:hover {
    text-decoration: none;
    color: #fff; 
  }
  .race-winners td.winsColumn {
    text-align: center;
  }

.race-history {
  background-color: rgb(62, 68, 74);
  /*margin: 0rem auto;*/
  padding: 0.2rem;
  grid-area: race-history;
  min-width: 7rem;
  /*max-width: 14rem;*/
  min-height: 0;
  overflow: scroll;
}
@media screen and (min-width: 768px){
.race-history {
  margin: 0rem auto;
  min-width: 17rem;
  max-width: 18rem;
  min-height: 0;
}}
  .race-history .table-sm {
    font-size: 0.8rem;
  }
  @media screen and (min-width: 768px){
  .race-history .table-sm {
    font-size: 0.8rem;
  }}
  .race-history tr{
    transform: rotate(0);
  }
  
  .race-history a {
    color: #fff; 
  }
  .race-history a:hover {
    text-decoration: none;
    color: #fff; 
  }

.race-chart {
  background-color: rgb(62, 68, 74);
  grid-area: race-chart;
  min-width: 0;
  min-height: 0;
  padding: 0.2rem;
  /*max-height: 5rem;*/
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
  .chart {
   /*max-height: 100%;*/
   position: relative;
   flex-grow: 1;
   min-height: 0;
  }


/** Home components **/
.home-container {
  position: absolute;
  z-index: 1;
  width: 50%;
  display: grid;
  grid-template: 
    'header header'
    'left right';
  color: #ffffff;
}

.home-head {
  text-align: left;
  justify-content: center;
  display: flex;
  grid-area: header;
  margin-left: 4rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  }
  .home-head h1{
    font-family: 'Josefin Sans';
    margin: auto;
    color: #dadada;
    font-size: 6rem;
  }

.home-classiques {  
  margin-left: 4rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 5rem;
  width: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-area: left;
}
  .home-classiques h6 {
    margin-bottom: 0;
    padding-left: 1rem;;
  }
  .classique-list {
    display: flex;
    flex: 1;
    padding: 1rem;
    list-style-type: none;
    flex-direction: column;
  }
    .flex-races-a {
      display: flex;
      flex: 1;
    }
    .flex-races-a + .flex-races-a {
      border-top: 1px solid #1f253d; 
    }
    .classique-list li{
      display:flex;
      flex:1;
    }
    .classique-list h5 { 
        display: flex; 
        align-items: left;
        justify-content: left;
        transition: background .3s;
        color: #fff;                     
    }
    .classique-list a:hover {
      text-decoration: none;
      background: #50597b;
      color: #fff; 
    }

.home-cyclist {
  margin: 0.8rem 1rem;
  display: flex;
  flex: 1;
  grid-area: right;
  flex-direction: column;
}
  .home-cyclist .cyclist-search {
    margin-top: 1rem;
    text-align: left;
  }

  /*** From Codepen, To cleanup ***/
/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
    font-family: 'icomoon';
    src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
    src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
        url('https://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
        url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
        url('https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
    content: "\e60f";
}
.icon-sun:before {
    content: "\e610";
}
.icon-cloudy2:before {
    content: "\e611";
}
/************************************* END FONTS *************************************/