/** General Styles **/
html {
  font-size: 75%;
}
@media screen and (min-width: 768px){
html {
  font-size: 100%;
}}

/*TODO investigate webkit etc*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  margin: 0;
  padding: 0.2rem;
  font-size: 85%;
}
@media screen and (min-width: 768px){
h6 {
  font-size: 95%;
}}

/*TODO keep import in css?*/
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/** Common Styles **/
.main-grid {
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.table-sm {
  font-size: 0.8rem;
}
tr {
  transform: rotate(0);
}

input.prompt {
  background-color: #e0e0e0;
}
input::-webkit-input-placeholder {
  color: rgb(121, 121, 121) !important;
}
/*TODO Change below*/
input:-moz-placeholder { /* Firefox 18- */
color: red !important;  
}
input::-moz-placeholder {  /* Firefox 19+ */
color: red !important;  
} 
input:-ms-input-placeholder {  
color: red !important;  
}
.ui.label {
  background-color: #ffffff;
}


/** Loading **/
#app {
  height: 100%;
}

.home-loading {
  background-color: #236a80;
  display: flex;
  height: 100%;
}


/** Map Container **/
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapboxgl-popup {
  max-width: 200px;
  will-change: unset;
}
.mapboxgl-popup.start-finish {
  padding-bottom: 7px;
}
.mapboxgl-popup-tip {
  border: 5px solid transparent;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgb(62, 68, 74);
}
.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  background: rgb(62, 68, 74);
}
.mapboxgl-popup-content p {
  margin: 0;
}


/** Full Screen Container **/
.full-screen-container {
  z-index: 1;
  position: absolute;
  left: 1rem;
  top: 6.5rem;
  background-color: rgb(62, 68, 74);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px){
.full-screen-container {
  top: 1rem;
}}
.full-screen-container a {
  color: rgb(247, 243, 243);
  font-size: 1.2rem;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.full-screen-container a:hover {
  color: #c9cfe6; 
}


/** About Container **/
.about-container {
  z-index: 2;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  bottom: 0.5rem;
  font-size: 140%;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px){
.about-container{
  justify-content: left;
  left: 7rem;
  width: auto;
  bottom: 0.3rem;
  font-size: 110%;
}}
.about-container span {
  color: rgb(255, 255, 255);
}
.about-container a {
  opacity: 0.87;
  font-weight: bold;
  color: rgb(255, 253, 253);
	text-shadow: -1px 1px 2px rgb(54, 54, 54),
				        1px 1px 2px rgb(54, 54, 54),
				        1px -1px 0 rgb(54, 54, 54),
				        -1px -1px 0 rgb(54, 54, 54);
}
@media screen and (min-width: 768px){
.about-container a {
  opacity: 0.7;
}}
.about-container a:hover {
  text-decoration: none;
}

.about-popup-container {
  min-height: 100vh;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #f0f0f0;
}
@media screen and (min-width: 768px){
.about-popup-container {
  margin-left: 20%;
  margin-right: 20%;
}}
.about-popup-content {
  z-index: 2;
  position: relative;
  padding: 1rem;
  background-color: rgb(62, 68, 74);
}
@media screen and (min-width: 768px){
.about-popup-content {
  padding: 2rem;
}}
.about-popup-content a{
  color: #f0f0f0;
  font-weight: bold;
}
.about-popup-content a:hover{
  text-decoration: none;
}
.about-popup-content button{
  color: #f0f0f0;
}


/** Home components **/
.home-grid {
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: minmax(0,3fr) minmax(0,2fr) minmax(0,2fr) minmax(0,1fr);
  grid-template-areas: 
    "home-head"
    "home-race"
    "home-cyclist";
}
@media screen and (min-width: 768px){
.home-grid {
  top: 3rem;
  bottom: 2rem;
  left: 2rem;
  width: 50%;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-template-rows: minmax(0,4fr) minmax(0,5fr);
  grid-template-areas: 
    "home-head home-head"
    "home-race home-cyclist";
}}

  .home-head {
    grid-area: home-head;
    display: flex;
    text-align: left;
    justify-content: center;
    margin-left: 1rem;
    }
  @media screen and (min-width: 768px){
  .home-head {
    display: block;
    margin-left: 2rem;
  }}
    .home-head h1{
      font-family: 'Josefin Sans';
      margin: auto;
      margin-bottom: 2.5rem;
      color: rgb(236, 233, 233);
      font-size: 3.5rem;
    }
    @media screen and (min-width: 768px){
    .home-head h1{
      font-size: 6rem;
      margin-bottom: auto;
    }}

  .home-race {  
    grid-area: home-race;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 2rem;
    width: auto;
  }
  @media screen and (min-width: 768px){
  .home-race {
    margin-left: 4rem;
  }}
    .home-race h6 {
      margin-bottom: 0;
      padding-left: 1rem;
    }
    .race-list {
      display: flex;
      flex: 1;
      padding: 1rem;
      padding-left: 2rem;
      list-style-type: none;
      flex-direction: column;
      margin-right: 6rem;
    }
    @media screen and (min-width: 768px){
    .race-list {
      margin-right: 0;
      padding-left: 1rem;
    }}
      .race-list li{
        display:flex;
        flex:1;
      }
      /*TODO keep line?*/
      .race-list .race-link + .race-link {
        border-top: 1px solid #1f253d; 
      }
      .race-list a:hover {
        text-decoration: none;
        background: #50597b;
        color: #fff; 
      }
      .race-list h5 { 
        margin-top: 0.5rem;;
        display: flex; 
        align-items: left;
        justify-content: left;
        transition: background .3s;
        color: #fff;
        font-size: 1rem;                     
      }
      @media screen and (min-width: 768px){
      .race-list h5 {
        font-size: 1.25rem;
      }}

  .home-cyclist {
    grid-area: home-cyclist;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 2rem;
  }
    .home-cyclist h6 {
      padding-left: 1rem;
    }
    .home-search {
      padding-left: 1.5rem;
      margin-top: 1rem;
      margin-left: 0.5rem;;
      text-align: left;
    }
    @media screen and (min-width: 768px){
    .home-search {
      padding-left: 0.5rem;
    }}
    .home-search .ui.search>.results {
      width: 13rem;
      left: 1rem;
    }
    .home-search .ui.search>.results .result {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }


/** Cyclist components **/
.cyclist-grid {
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-template-rows: minmax(0,1fr) minmax(0,5fr) minmax(0,5fr) minmax(0,2fr);
  grid-template-areas: 
    "cyclist-head cyclist-head"
    ". ."
    "cyclist-profile cyclist-wins"
    "cyclist-summary cyclist-summary";
}
@media screen and (min-width: 768px){
.cyclist-grid {
  /*top: 2rem;
  bottom: 2rem;*/
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-template-areas: 
    ". cyclist-head"
    ". cyclist-profile"
    ". cyclist-summary"
    ". cyclist-wins";
}}

  .cyclist-head {
    grid-area: cyclist-head;
    display: flex;
    flex: 1;
    background-color: rgb(62, 68, 74);
    text-align: center;
    justify-content: center;
    min-width: 10rem;
    min-height: 4rem;
  }
  @media screen and (min-width: 768px){
  .cyclist-head {
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}

  .cyclist-profile {
    grid-area: cyclist-profile;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(62, 68, 74);
    text-align: center;
  }
  @media screen and (min-width: 768px){
  .cyclist-profile {
    min-height: 0;
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .cyclist-picture {
      border-radius: 100%;
      overflow: hidden;
      margin: auto;     
      border: 0.3rem solid #50597b;
      width: 8.5rem;
      height: 8.5rem;
      box-sizing: content-box;
    }
      .cyclist-picture img {
        width: 100%;
      }
    .cyclist-search {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
    }
    .cyclist-search .ui.search{
      min-width: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .cyclist-search .ui.input{
      max-width: 70%;
    }
    .cyclist-search .ui.search>.results {
      width: 10.5rem;
      left: 2rem;
    }
    .cyclist-search .ui.search>.results .result {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

  .cyclist-summary {
    grid-area: cyclist-summary;
    display: flex;
    background-color: rgb(62, 68, 74);
    text-align: center;
  }
  @media screen and (min-width: 768px){
  .cyclist-summary {
    min-height: 0;
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .key-wins {
      display: flex;
      flex: 1;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
      .key-wins li {
        display: flex;
        flex: 1;
      }
      .flex-wins + .flex-wins {
        border-left: 1px solid #1f253d; 
      }
      .key-wins p {
        margin: auto;
      }
      .key-wins a { 
        display: flex; 
        flex: 1;
        align-items: center;
        justify-content: center;
        transition: background .3s;
        color: #fff;                     
      }
      .key-wins a:hover {
        text-decoration: none;
        background: #50597b;
        color: #fff; 
      }
      .key-wins a:hover.race-0 .icon {
        color: #d634ce;
      }
      .key-wins a:hover.race-1 .icon {
        color: #fda93b;
      }
      .key-wins a:hover.race-2 .icon {
        color: #e64c65;
      }
      .key-wins a:hover.race-3 .icon {
        color: #0da526;
      }
      .key-wins a:hover.race-4 .icon {
        color: #1187ab;
      }
      .key-wins .icon {
        font-size: 1rem;
        padding-right: 10px;
        color: rgb(221, 219, 219);
      }
      .key-wins .race-0 {
        border-top: 0.5rem solid #d634ce;
      }
      .key-wins .race-1 {
        border-top: 0.5rem solid #fda93b;
      }
      .key-wins .race-2 {
        border-top: 0.5rem solid #e64c65;
      }
      .key-wins .race-3 {
        border-top: 0.5rem solid #0da526;
      }
      .key-wins .race-4 {
        border-top: 0.5rem solid #1187ab;
      }

  .cyclist-wins {
    grid-area: cyclist-wins;
    background-color: rgb(62, 68, 74);
    padding: 0.2rem;
    width: auto;
    overflow: scroll;
  }
  @media screen and (min-width: 768px){
  .cyclist-wins {
    min-height: 0;
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .cyclist-wins a {
      color: #fff; 
    }
    .cyclist-wins a:hover {
      text-decoration: none;
      color: #fff; 
    }
    .cyclist-wins .milano-sanremo {
      color: #e64cbf;
    }
    .cyclist-wins .ronde-van-vlaanderen {
      color: #fcb150;
    }
    .cyclist-wins .paris-roubaix {
      color: #e64c65;
    }
    .cyclist-wins .liège-bastogne-liège {
      color: #11ab2b;
    }
    .cyclist-wins .giro-di-lombardia {
      color: #11a8ab;
    }


/** Race components **/
.race-grid {
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-template-rows: minmax(0,1fr) minmax(0,5fr) minmax(0,5fr) minmax(0,2fr);
  grid-template-areas: 
    "race-head race-head"
    ". ."
    "race-winners race-history"
    "race-chart race-chart";
}
@media screen and (min-width: 768px){
.race-grid {
  /*top: 2rem;
  bottom: 2rem;*/
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 2fr;
  grid-template-areas: 
    ". race-head"
    ". race-winners"
    ". race-history"
    "race-chart race-history";
  grid-column-gap: 2rem;;
}}

  .race-head {
    grid-area: race-head;
    display: flex;
    flex: 1;  
    flex-direction: column;
    background-color: rgb(62, 68, 74);
    text-align: center;
    min-width: 10rem;
    min-height: 4rem;
  }
  @media screen and (min-width: 768px){
  .race-head {
    width: 18rem;
    max-width: 24rem;
    min-height: 4rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .race-selector {
      display: flex;
      flex: 1;
      margin: 0;
      padding: 0;
      list-style-type: none;
      height: 100%;
    }
      .race-selector li {
        display: flex;
        flex: 1;   
      }
      /*TODO No ITF?*/
      .flex-races + .flex-races {
        border-left: 1px solid #1f253d; 
      }
      .race-selector a,h3 { 
        display: flex; 
        align-items: center;
        justify-content: center;
        transition: background .3s;
        color: #fff;
        font-size: 1.5rem;                     
      }
      .race-selector a:hover {
        text-decoration: none;
        background: #50597b;
        color: #fff; 
      }
      .race-selector :nth-child(2){
        flex: 7;
      }
      .race-selector :nth-child(odd) {
        flex: 1.2;
      }

  .race-winners {
    grid-area: race-winners;
    background-color: rgb(62, 68, 74);
    padding: 0.2rem; 
    min-width: 7rem;
    min-height: 0;
    overflow: scroll;
  }
  @media screen and (min-width: 768px){
  .race-winners {
    min-height: 0;
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .race-winners a {
      color: #fff; 
    }
    .race-winners a:hover {
      text-decoration: none;
      color: #fff; 
    }
    .race-winners td.winsColumn {
      text-align: center;
    }

  .race-history {
    grid-area: race-history;
    background-color: rgb(62, 68, 74);
    padding: 0.2rem;
    min-width: 7rem;
    min-height: 0;
    overflow: scroll;
  }
  @media screen and (min-width: 768px){
  .race-history {
    min-height: 0;
    min-width: 18rem;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
  }}
    .race-history a {
      color: #fff; 
    }
    .race-history a:hover {
      text-decoration: none;
      color: #fff; 
    }

  .race-chart {
    grid-area: race-chart;
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 68, 74);
    min-width: 0;
    min-height: 0;
    padding: 0.2rem;
  }
    .chart {
    position: relative;
    flex-grow: 1;
    min-height: 0;
    }